@import "foundation/scaffolding";

body {

}

.logotype {
  display: block;
  width: 120px;
  height: 51px;

  background-image: url('/static/images/logotype.svg');
  background-size: cover;
  text-indent: -9999px;
}
