[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
"psycopg2" = "*"
django-allauth = "*"
mysqlclient = "*"
dj-database-url = "*"
python-dotenv = "*"
django-configurations = "*"
django-compressor = "*"
django-libsass = "*"


[dev-packages]



[requires]

python_version = "3.6"
