[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
"psycopg2" = "*"
django-allauth = "*"
mysqlclient = "*"
dj-database-url = "*"
python-dotenv = "*"
django-configurations = "*"
django-compressor = "*"
django-libsass = "*"
django-model-utils = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
whitenoise = "*"
gunicorn = "*"


[dev-packages]

pytest-django = "*"
factory-boy = "*"


[requires]

python_version = "3.6"
