{% extends "layouts/control_panel_base.html" %}

{% block title %}Dashboard{% endblock %}
{% block class %}cp dashboard{% endblock %}

{% block content %}

<h1>Dashboard</h1>
{% for account in user.accounts %}
  Account ID {{ account.account_id }}
  Login Count {{ account.logincount }}
  Last Login {{ account.lastlogin }}
  Last Used IP {{ account.last_ip }}
{% endfor %}

<table>
{% for character in user.characters %}
  <tr>
    <td>{{ character }}</td>
  </tr>
{% endfor %}
</table>

<table>
  {% for storage in user.storage %}
  <tr>
      <td>{{ storage.item }}</td>
      <td>&times;{{ storage.amount }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock content %}
