.page {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: auto 1280px auto;
}

.container {
  grid-column: 2;
}
//
// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }
//
// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }
//
// @media (min-width: 992px) {
//   .container {
//     max-width: 960px;
//   }
// }
//
// @media (min-width: 1280px) {
//   .container {
//     max-width: 1200px;
//   }
// }

header {
  background: #cd163f;
}

.nav-tabs .nav-item + .nav-item {
  margin-left: 1.5rem;
}

nav {
  border-bottom: 1px solid rgba(0, 40, 100, 0.12);
  color: #9aa0ac;
}

.header-brand {
  margin-bottom: 0;

  .logotype {
    width: 96px; height: 40px;
  }
}

.header-user {
  margin-left: auto;
}

.header .container {
  display: flex;
  color: #fff;
  padding: 1rem 0;
  align-items: center;
}

.nav {

}

.footer {
  padding: 1.25rem 0;

  border-top: 1px solid rgba(0, 40, 100, 0.12);
  color: #9aa0ac;
  font-size: 0.85rem;
}
